/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'galharufa/variables';
@import 'galharufa/mixins';
@import 'galharufa/typography';
@import 'galharufa/navbar';
@import 'galharufa/footer';
@import 'galharufa/pages';

html {
  scroll-behavior: smooth;
}

/*html tags*/
body {
  a {
    font-weight: 700;

    &:hover,
    &:focus {
      // text-decoration: underline;
      cursor: hover;
    }
  }
}

.card {
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
  .card-body {
    padding: 10px 0;
  }
}
.form-control {
  border-radius: 0;
}
.activebutton {
  // border: 1px solid #f0f;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.253);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.253);
}
