/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'galharufa/variables';
@import 'galharufa/mixins';
@import 'galharufa/typography';
@import 'galharufa/navbar';
@import 'galharufa/footer';
@import 'galharufa/pages';

html {
  scroll-behavior: smooth;
}

/*html tags*/
body {
  a {
    font-weight: 700;

    &:hover,
    &:focus {
      // text-decoration: underline;
      cursor: hover;
    }
  }
}

.card {
  border: none;
  border-radius: 0;
  margin-bottom: 30px;
}
.form-control {
  border-radius: 0;
}
.activebutton {
  border-bottom: 2px solid black;
}
