{
  "singleQuote": true,
  "printWidth": 140,
  "tabWidth": 2,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
