<div class="main home">
  <div class="section section-gray">
    <div class="row align-items-start">
      <div class="main-header">
        <h3>Contato</h3>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <form>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="form-name" placeholder="nome" />
                <label for="form-name" class="form-label">Nome</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="form-email" placeholder="name@example.com" aria-describedby="emailHelp" />
                <label for="form-email" class="form-label">Email</label>
              </div>
              <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phone" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}" placeholder="name@example.com" />
                <label for="phone" class="form-label">Telefone</label>
              </div>
              <div class="form-floating mb-3">
                <textarea class="form-control" id="form-message" rows="3" placeholder="name@example.com"></textarea>
                <label for="form-message" class="form-label">Mensagem</label>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <h3 class="mt-0">Entre em contato conosco!</h3>
            <br />
            <ul class="list-unstyled">
              <li>
                <span class="material-icons me-2 align-middle"> place </span>
                São Paulo
              </li>
              <li>
                <span class="material-icons me-2 align-middle"> phone </span>
                <a href="tel:+5511987090824">+55 11 9-8709-0824</a>
              </li>
              <li>
                <span class="material-icons me-2 align-middle"> chat </span
                ><a
                  href="http://wa.me/5511987090824?text=Agencia%20Galharufa%20-%20Contato%20pelo%20Site%20-%20Gostaria%20de%20mais%20informações%20sobre%20os%20seus%20serviços"
                  target="_blank"
                  >Mensagem através do Whatsapp</a
                >
              </li>
              <li>
                <span class="material-icons me-2 align-middle"> email </span>
                <a href="mailto:atendimento@agenciagalharufa.com.br" target="_blank">atendimento@agenciagalharufa.com.br</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
