<div class="main">
  <div class="section section-gray">
    <div class="row align-items-start">
      <div class="main-header">
        <h3>Serviços</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="d-flex">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
              <li ngbNavItem="{{ svc.tab_name }}" *ngFor="let svc of services">
                <a ngbNavLink>{{ svc.title }}</a>
                <ng-template ngbNavContent>
                  <p>
                    {{ svc.title }}
                  </p>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="ms-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
