<div class="main">
  <div class="section section-gray">
    <div class="row align-items-start">
      <div class="main-header">
        <h3>{{ sectionName }}</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled">
          <li *ngFor="let image of images">
            <a href="" [routerLink]="['/casting/exclusivos']">
              <figure class="figure">
                <img
                  [src]="image"
                  class="figure-img img-fluid"
                  alt="A generic square placeholder image with rounded corners in a figure."
                />
                <figcaption class="figure-caption">A caption for the above image.</figcaption>
              </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
